{% for album in albums %}
    <tr>
        <td>
            {{ album["title"] }}
        </td>
        <td>
            {{ album["artist"] }}
        </td>
        <td class="has-text-right pr-6">
            {{ album["minutes"] }}:{{ "%02d" | format(album["seconds"]) }}
        </td>
        <td class="has-text-right pr-6">
            $ {{ album["price"] }}
        </td>
        <td>
            <button 
                class="button is-small is-info view-details" 
                data-id="{{ album['title'] }}"
            >
                <span class="icon is-small">
                  <i class="fas fa-info-circle"></i>
                </span>
            </button>
        </td>
    </tr>
{% endfor %}
