{% for employee in employees %}
    <tr>
        <td>
            {{ employee["employee_fullname"] }}
        </td>
        <td>
            {{ employee["manager_fullname"] }}
        </td>
        <td>
            {{ employee["manager_title"] }}
        </td>
        <td class="has-text-right pr-6">
            {{ employee["employee_total_customers"] }}
        </td>
        <td class="has-text-right pr-6">
            ${{ employee["employee_total_customers_spent"] }}
        </td>
        <td>
            <button 
                class="button is-small is-info view-details" 
                data-id="{{ employee['id'] }}"
            >
                <span class="icon is-small">
                  <i class="fas fa-info-circle"></i>
                </span>
            </button>
        </td>
    </tr>
{% endfor %}
