<!-- Previous Button -->
<a
    hx-get="/application/pagination?tab={{ tab }}&items_per_page={{ items_per_page }}&current_page={{ current_page - 1 }}"
    hx-trigger="click"
    class="pagination-previous"
    {% if current_page == 1 %}disabled{% endif %}
    _ = "on click
        set currentPage to {{ current_page - 1 }}
        trigger updateDisplay(tab: '{{ tab }}', current_page: currentPage) on #artists-tab
        log `Page changed to ${currentPage}`
    "
>
    Previous
</a>

<!-- Next Button -->
<a
    hx-get="/application/pagination?tab={{ tab }}&items_per_page={{ items_per_page }}&current_page={{ current_page + 1 }}"
    hx-trigger="click"
    class="pagination-next"
    {% if current_page == total_pages %}disabled{% endif %}
    _ = "on click
        set currentPage to {{ current_page + 1 }}
        trigger updateDisplay(tab: '{{ tab }}', current_page: currentPage) on #artists-tab
        log `Page changed to ${currentPage}`
    "
>
    Next page
</a>

<!-- Pagination Links -->
<ul class="pagination-list">
    {% for link in pagination_links %}
    <li>
        {% if link == "..." %}
        <span class="pagination-ellipsis">&hellip;</span>
        {% else %}
        <a
                hx-get="/application/artists"
                hx-trigger="click"
                hx-target="#music-content"
                hx-vals='{"current_page": "{{ link }}", "items_per_page": "{{ items_per_page }}"}'
                class="pagination-link {% if link == current_page %}is-current{% endif %}"
                aria-label="Goto page {{ link }}"
                _="on click
                    set currentPage to {{ link }}
                    trigger updateDisplay(
                        tab: '{{ tab }}',
                        current_page: currentPage
                    ) on #artists-tab
                    log `currentPage changed to ${currentPage}`
                    add .is-current to me
                "
        >
            {{ link }}
        </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>