<!-- About content -->
<div class="box content-box" id="about-content">
    <h2 class="title is-4">About</h2>
    <p class="subtitle is-6">Information about this application</p>
    <p>
        This application was built to demonstrate the use of
        <a href="https://htmx.org/" target="_">HTMX</a>. HTMX is a tool that embeds behavior
        into HTML to produce SPA (Single Page Applications) very much like
        those created with tools like React or Angular. The difference is
        the applications can be created completely server side.
    </p>
    <br />
    <p>
        For this application I built on the FastAPI application I created as a
        presentation about FastAPI, which you can find
        <a href="https://happycanvasandcode.com/posts/fastapi_presentation/" target="_">here</a>.
        That application wrapped a REST interface around the Chinook database that's part
        of the <a href="https://www.sqlitetutorial.net/sqlite-sample-database/" target="_">SQLite Tutorial</a>.
        This application wraps a UI around that functionality.
    </p>
    <br />
    <p>
        This application is written using Python, but the HTMX framework is programming
        language agnostic. Any language that can produce HTML web pages can use the
        tool to add amazing and interesting interactivity to the app.
    </p>
    <br />
    <p>
        <strong>Shameless Disclaimer</strong>. This is the first HTMX application
        I've written. That means I barely scratched the surface of what it can
        do and what features I took advantage of. Given that, I think it's an okay
        application to look at for anyone starting to consider using HTMX.
    </p>
</div>
