<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Application</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- Link to your external stylesheet -->
    <link rel="stylesheet" href="/static/css/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://kit.fontawesome.com/336253754b.js" crossorigin="anonymous"></script>
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/hyperscript.min.js"></script>
    <script src="/static/js/application.js"></script>
</head>
<body hx-ext="hyperscript">
    <div id="application" class="content-wrapper">
        <!-- Header -->
        <div class="hero brand-color">
            <div class="hero-body">
                <p class="title">Let There Be Music!</p>
                <p class="subtitle">Just a little application to snoop around some music</p>
            </div>
        </div>

        <nav class="navbar brand-color" style="background-color: #c7e3f0;" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a
                    hx-get="/application/template/artists"
                    hx-vals='{"tab": "artists"}'
                    hx-trigger="click"
                    hx-target="#application-content"
                    class="navbar-item"
                >
                    <i class="fa-solid fa-headphones"></i>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a
                        hx-get="/application/template/artists"
                        hx-vals='{"tab": "artists"}'
                        hx-trigger="click"
                        hx-target="#application-content"
                        class="navbar-item"
                    >
                        Home
                    </a>
                    <a
                        hx-get="/application/about"
                        hx-trigger="click"
                        hx-target="#application-content"
                        class="navbar-item"
                    >
                        About
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="level">
                            <p class="control level-item has-icons-left">
                                <input
                                    class="input"
                                    type="text"
                                    placeholder="Search music..."
                                    id="searchInput"
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-search"></i>
                                </span>
                            </p>
                            <div class="control level-item">
                                <div class="select is-fullwidth">
                                    <select id="filterField">
                                        <option value="all">All Fields</option>
                                        <option value="name">Name</option>
                                        <option value="artist">Artist</option>
                                        <option value="album">Album</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control level-item">
                                <div class="select is-fullwidth">
                                    <select
                                        id="itemsPerPage"
                                        name="items_per_page"
                                    >
                                        <option value="5">5 per page</option>
                                        <option value="10" selected>10 per page</option>
                                        <option value="20">20 per page</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- main content section of the application -->
        <section class="section">
            <div id="container" class="container">
                <!-- Application Navigation Tabs -->
                <div class="tabs is-centered is-boxed">
                    <ul>
                        <li
                            hx-get="/application/template/artists"
                            hx-trigger="click"
                            hx-target="#application-content"
                            class="is-active"
                            data-tab="artists"
                            _=" on click
                              -- Reset other <li> elements 
                              set items to <li/> in closest <ul/>
                              remove .is-active from items
                              add .is-active to me
                              log 'clicked'
                            "
                        >
                            <a>
                                <span class="icon"><i class="fas fa-microphone"></i></span>
                                <span>Artists</span>
                            </a>
                        </li>
                        <li
                            hx-get="/application/template/albums"
                            hx-trigger="click"
                            hx-target="#application-content"
                            data-tab="albums"
                            _=" on click
                              -- Reset other <li> elements 
                              set items to <li/> in closest <ul/>
                              remove .is-active from items
                              add .is-active to me
                              log 'clicked'
                            "
                        >
                            <a>
                                <span class="icon"><i class="fas fa-compact-disc"></i></span>
                                <span>Albums</span>
                            </a>
                        </li>
                        <li
                            hx-get="/application/playlists"
                            hx-trigger="click"
                            hx-target="#application-content"
                            data-tab="playlists"
                            _=" on click
                              -- Reset other <li> elements 
                              set items to <li/> in closest <ul/>
                              remove .is-active from items
                              add .is-active to me
                              log 'clicked'
                            "
                        >
                            <a>
                                <span class="icon"><i class="fas fa-list"></i></span>
                                <span>Playlists</span>
                            </a>
                        </li>
                        <li
                            hx-get="/application/customers"
                            hx-trigger="click"
                            hx-target="#application-content"
                            data-tab="customers"
                            _=" on click
                              -- Reset other <li> elements 
                              set items to <li/> in closest <ul/>
                              remove .is-active from items
                              add .is-active to me
                              log 'clicked'
                            "
                        >
                            <a>
                                <span class="icon"><i class="fas fa-user"></i></span>
                                <span>Customers</span>
                            </a>
                        </li>
                        <li
                            hx-get="/application/employees"
                            hx-trigger="click"
                            hx-target="#application-content"
                            data-tab="employees"
                            _=" on click
                              -- Reset other <li> elements 
                              set items to <li/> in closest <ul/>
                              remove .is-active from items
                              add .is-active to me
                              log 'clicked'
                            "
                        >
                            <a>
                                <span class="icon"><i class="fas fa-user-tie"></i></span>
                                <span>Employees</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- application content goes here using HTMX -->
                <div 
                    id="application-content"
                    hx-get="/application/template/artists"
                    hx-trigger="load"
                >
                </div>

                <!-- Stats Tiles -->
                <div class="box">
                    <div class="tile is-ancestor">
                        <div class="tile is-parent">
                            <article class="tile is-child">
                                <p class="heading">
                                <span class="icon">
                                    <i class="fas fa-clock"></i>
                                </span>
                                    Total Duration
                                </p>
                                <p class="title">347 hours</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child">
                                <p class="heading">
                                <span class="icon">
                                    <i class="fas fa-music"></i>
                                </span>
                                    Total Tracks
                                </p>
                                <p class="title" id="totalItems">0</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child">
                                <p class="heading">
                                <span class="icon">
                                    <i class="fas fa-tags"></i>
                                </span>
                                    Genres
                                </p>
                                <p class="title">25</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal for track details -->
        <div class="modal" id="trackModal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Track Details</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <!-- Populated by JavaScript -->
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success">Add to Playlist</button>
                    <button class="button">Close</button>
                </footer>
            </div>
        </div>
    </div>
    <!-- Sticky Footer -->
    <footer class="footer brand-color custom-footer">
        <div class="content has-text-centered">
            <p>
                <strong>Let There Be Music!</strong>
                &nbsp;&copy; 2024&nbsp;
                by <a href="https://happycanvasandcode.com">Happy Canvas And Code</a>
            </p>
        </div>
    </footer>
</body>
</html>