<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Application</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- Link to your external stylesheet -->
    <link rel="stylesheet" href="/static/css/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://kit.fontawesome.com/336253754b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
</head>
<body
    hx-ext="hyperscript"
    _="init
        log 'hello load'
        wait 200ms
        trigger click on #navbar-home-link
    "
>
    <div id="application" class="content-wrapper">
        <!-- Header -->
        <div class="hero brand-color">
            <div class="hero-body">
                <p class="title">Let There Be Music!</p>
                <p class="subtitle">Just a little application to snoop around some music</p>
            </div>
        </div>

        <nav class="navbar brand-color" style="background-color: #c7e3f0;" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a
                    class="navbar-item"
                    hx-get="/application/template/artists"
                    hx-vals='{"tab": "artists"}'
                    hx-trigger="click"
                    hx-target="#application-content"
                    _="on click
                        wait 100ms
                        set firstPaginationLink to first <a/> in <ul.pagination-list/>
                        if firstPaginationLink
                            trigger click on firstPaginationLink
                        end
                    "
                >
                    <i class="fa-solid fa-headphones"></i>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a
                        id="navbar-home-link"
                        class="navbar-item"
                        hx-get="/application/template/artists"
                        hx-vals='{"tab": "artists"}'
                        hx-trigger="click"
                        hx-target="#application-content"
                        _="on click
                            wait 100ms
                            set firstPaginationLink to first <a/> in <ul.pagination-list/>
                            if firstPaginationLink
                                trigger click on firstPaginationLink
                            end
                        "
                    >
                        Home
                    </a>
                    <a
                        class="navbar-item"
                        hx-get="/application/about"
                        hx-trigger="click"
                        hx-target="#application-content"
                    >
                        About
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="level">
                            <div class="control level-item">
                                <div class="select is-fullwidth">
                                    <select
                                        id="itemsPerPage"
                                        name="items_per_page"
                                        _="on change
                                            -- Send a click to rebuild current application view
                                            log 'select clicked'
                                            set icon to <i[data-sort='artist']/> in <table.table/>
                                            if icon
                                              trigger click on icon
                                            end
                                        "
                                    >
                                        <option value="5">5 per page</option>
                                        <option value="10" selected>10 per page</option>
                                        <option value="20">20 per page</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- main content section of the application -->
        <section class="section">
            <div id="container" class="container">
                <!-- Application Navigation Tabs -->
                <div
                    class="tabs is-centered is-boxed"
                    _="on htmx:afterSwap from #application-content
                        -- log 'htmx:afterSwap event fired'
                        log event.detail.pathInfo.requestPath
                        if event.detail.pathInfo.requestPath is '/application/about'
                            set my style.display to 'none'
                        else
                            set my style.display to 'block'
                        end
                    "
                >
                    <ul>
                        <li
                            id="artists-tab"
                            hx-get="/application/template/artists"
                            hx-trigger="click, updateDisplay"
                            hx-target="#application-content"
                            class="is-active"
                            data-tab="artists"
                            _="on click or updateDisplay
                                -- Reset other <li> elements
                                set items to <li/> in closest <ul/>
                                remove .is-active from items
                                add .is-active to me
                                wait 100ms
                                set firstPaginationLink to first <a/> in <ul.pagination-list/>
                                if firstPaginationLink
                                    trigger click on firstPaginationLink
                                end
                            "
`                        >
                            <a>
                                <span class="icon"><i class="fas fa-microphone"></i></span>
                                <span>Artists</span>
                            </a>
                        </li>
                        <li
                            id="albums-tab"
                            hx-get="/application/template/albums"
                            hx-trigger="click"
                            hx-target="#application-content"
                            data-tab="albums"
                            _="on click
                              -- Reset other <li> elements 
                              set items to <li/> in closest <ul/>
                              remove .is-active from items
                              add .is-active to me
                            "
                        >
                            <a>
                                <span class="icon"><i class="fas fa-compact-disc"></i></span>
                                <span>Albums</span>
                            </a>
                        </li>
                        <li
                            id="customers-tab"
                            hx-get="/application/template/customers"
                            hx-trigger="click"
                            hx-target="#application-content"
                            data-tab="customers"
                            _="on click
                              -- Reset other <li> elements 
                              set items to <li/> in closest <ul/>
                              remove .is-active from items
                              add .is-active to me
                            "
                        >
                            <a>
                                <span class="icon"><i class="fas fa-user"></i></span>
                                <span>Customers</span>
                            </a>
                        </li>
                        <li
                            id="employees-tab"
                            hx-get="/application/template/employees"
                            hx-trigger="click"
                            hx-target="#application-content"
                            data-tab="employees"
                            _=" on click
                              -- Reset other <li> elements 
                              set items to <li/> in closest <ul/>
                              remove .is-active from items
                              add .is-active to me
                              log 'clicked'
                            "
                        >
                            <a>
                                <span class="icon"><i class="fas fa-user-tie"></i></span>
                                <span>Employees</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- application content goes here using HTMX -->
                <div 
                    id="application-content"
                    hx-get="/application/template/artists"
                    hx-trigger="load from:body"
                    _="on htmx:afterSwap
                        wait 200ms
                        set firstPaginationLink to first <a/> in <ul.pagination-list/>
                        if firstPaginationLink and not firstPaginationLink.classList.contains('is-current')
                            trigger click on firstPaginationLink
                        end
                    "
                >
                </div>
            </div>
        </section>

        <!-- Modal for track details -->
        <div class="modal" id="trackModal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Track Details</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <!-- Populated by JavaScript -->
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success">Add to Playlist</button>
                    <button class="button">Close</button>
                </footer>
            </div>
        </div>
    </div>
    <!-- Sticky Footer -->
    <footer class="footer brand-color custom-footer">
        <div class="content has-text-centered">
            <p>
                <strong>Let There Be Music!</strong>
                &nbsp;&copy; 2024&nbsp;
                by <a href="https://happycanvasandcode.com">Happy Canvas And Code</a>
            </p>
        </div>
    </footer>
</body>
</html>
