<!-- Content Tables -->
<div class="box content-box" id="music-content"
     _="on load
        wait 100ms
        set paginationNav to <nav/> in me
        if paginationNav
            trigger load on paginationNav
        end
     "
>
    <h2 class="title is-4">Artists</h2>
    <p class="subtitle is-6">Browse through our music collection</p>

    <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
            <tr>
                <th style="width: 60%;">
                    Artist
                    <span class="icon sort-icon">
                        <i
                            hx-get="/application/artists"
                            hx-trigger="click"
                            hx-vals='js:{
                                "sort": event.target.dataset.sort,
                                "direction": event.target.dataset.direction
                            }'
                            hx-include="#itemsPerPage"
                            hx-target="#table-content"
                            class="fas fa-sort"
                            data-sort="artist_name"
                            data-direction="desc"
                            _="on click or load
                                 -- Reset all <i> elements' classes to fa-sort
                                 set icons to <i/> in closest <tr/>
                                 remove .fa-sort-down .fa-sort-up from icons
                                 add .fa-sort to icons

                                 -- set clicked icon's direction and class
                                 if @data-direction == 'asc'
                                    set @data-direction to 'desc'
                                    remove .fa-sort-up .fa-sort from me
                                    add .fa-sort-down to me
                                 else
                                    set @data-direction to 'asc'
                                    remove .fa-sort-down .fa-sort from me
                                    add .fa-sort-up to me
                                 end
                            "
                        >
                        </i>
                    </span>
                </th>
                <th style="width: 15%;">
                    Album Count
                    <span class="icon sort-icon">
                        <i
                            hx-get="/application/artists"
                            hx-trigger="click"
                            hx-vals='js:{
                                "sort": event.target.dataset.sort,
                                "direction": event.target.dataset.direction
                            }'
                            hx-include="#itemsPerPage"
                            hx-target="#table-content"
                            class="fas fa-sort"
                            data-sort="artist_album_count"
                            data-direction="desc"
                            _="on click
                                 -- Reset all <i> elements' classes to fa-sort
                                 set icons to <i/> in closest <tr/>
                                 remove .fa-sort-down .fa-sort-up from icons
                                 add .fa-sort to icons

                                 -- set clicked icon's direction and class
                                 if @data-direction == 'asc'
                                    set @data-direction to 'desc'
                                    remove .fa-sort-up .fa-sort from me
                                    add .fa-sort-down to me
                                 else
                                    set @data-direction to 'asc'
                                    remove .fa-sort-down .fa-sort from me
                                    add .fa-sort-up to me
                                 end
                            "
                        >
                        </i>
                    </span>
                </th>
                <th style="width: 15%;">
                    Track Count
                    <span class="icon sort-icon">
                        <i
                            hx-get="/application/artists"
                            hx-trigger="click"
                            hx-vals='js:{
                                "sort": event.target.dataset.sort,
                                "direction": event.target.dataset.direction
                            }'
                            hx-include="#itemsPerPage"
                            hx-target="#table-content"
                            class="fas fa-sort"
                            data-sort="artist_track"
                            data-direction="desc"
                            _="on click
                                 -- Reset all <i> elements' classes to fa-sort
                                 set icons to <i/> in closest <tr/>
                                 remove .fa-sort-down .fa-sort-up from icons
                                 add .fa-sort to icons

                                 -- set clicked icon's direction and class
                                 if @data-direction == 'asc'
                                    set @data-direction to 'desc'
                                    remove .fa-sort-up .fa-sort from me
                                    add .fa-sort-down to me
                                 else
                                    set @data-direction to 'asc'
                                    remove .fa-sort-down .fa-sort from me
                                    add .fa-sort-up to me
                                 end
                            "
                        >
                        </i>
                    </span>
                </th>
                <th style="width: 10%;">Actions</th>
            </tr>
            </thead>
            <!-- Populated by htmx -->
            <tbody
                id="table-content"
                hx-get="/application/artists"
                hx-trigger="load, customLoad, updateDisplay"
            >
            </tbody>
        </table>
    </div>

    <!-- Pagination populated by htmx-->
    <nav
            hx-get="/application/pagination"
            hx-trigger="load, updateDisplay"
            hx-target="this"
            hx-vals='js:{"tab": "artists"}'
            hx-include="#itemsPerPage"
            class="pagination is-centered"
            role="navigation"
            aria-label="pagination"
    >
    </nav>
</div>
