<!-- Employees Table -->
<div class="box content-box" id="tracks-content">
    <h2 class="title is-4">Employees</h2>
    <p class="subtitle is-6">Browse through our music collection</p>

    <div class="table-container">
        <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
            <tr>
                <th style="width: 30%">
                    Customer Name
                    <span class="icon sort-icon" data-sort="employee">
                        <i
                                hx-get="/application/customers"
                                hx-trigger="click"
                                hx-vals='js:{
                                "sort": event.target.dataset.sort,
                                "direction": event.target.dataset.direction
                            }'
                                hx-include="#itemsPerPage"
                                hx-target="#table-content"
                                class="fas fa-sort"
                                data-sort="employee_name"
                                data-direction="desc"
                                _="on click
                                 -- Reset all <i> elements' classes to fa-sort
                                 set icons to <i/> in closest <tr/>
                                 remove .fa-sort-down .fa-sort-up from icons
                                 add .fa-sort to icons
                                   
                                 -- set clicked icon's direction and class
                                 if @data-direction == 'asc'
                                    set @data-direction to 'desc'
                                    remove .fa-sort-up .fa-sort from me
                                    add .fa-sort-down to me                                    
                                 else
                                    set @data-direction to 'asc'
                                    remove .fa-sort-down .fa-sort from me
                                    add .fa-sort-up to me
                                 end
                            "
                        >
                        </i>
                    </span>
                </th>
                <th style="width: 30%">
                    Reports To
                    <span class="icon sort-icon" data-sort="reports_to">
                        <i
                                hx-get="/application/customers"
                                hx-trigger="click"
                                hx-vals='js:{
                                "sort": event.target.dataset.sort,
                                "direction": event.target.dataset.direction
                            }'
                                hx-include="#itemsPerPage"
                                hx-target="#table-content"
                                class="fas fa-sort"
                                data-sort="reports_to"
                                data-direction="desc"
                                _="on click
                                 -- Reset all <i> elements' classes to fa-sort
                                 set icons to <i/> in closest <tr/>
                                 remove .fa-sort-down .fa-sort-up from icons
                                 add .fa-sort to icons
                                   
                                 -- set clicked icon's direction and class
                                 if @data-direction == 'asc'
                                    set @data-direction to 'desc'
                                    remove .fa-sort-up .fa-sort from me
                                    add .fa-sort-down to me                                    
                                 else
                                    set @data-direction to 'asc'
                                    remove .fa-sort-down .fa-sort from me
                                    add .fa-sort-up to me
                                 end
                            "
                        >
                        </i>
                    </span>
                </th>
                <th style="width: 15%" class="has-text-right">
                    Total Customers
                    <span class="icon sort-icon" data-sort="customers_total">
                        <i
                                hx-get="/application/customers"
                                hx-trigger="click"
                                hx-vals='js:{
                                "sort": event.target.dataset.sort,
                                "direction": event.target.dataset.direction
                            }'
                                hx-include="#itemsPerPage"
                                hx-target="#table-content"
                                class="fas fa-sort"
                                data-sort="customer_total"
                                data-direction="desc"
                                _="on click
                                 -- Reset all <i> elements' classes to fa-sort
                                 set icons to <i/> in closest <tr/>
                                 remove .fa-sort-down .fa-sort-up from icons
                                 add .fa-sort to icons
                                   
                                 -- set clicked icon's direction and class
                                 if @data-direction == 'asc'
                                    set @data-direction to 'desc'
                                    remove .fa-sort-up .fa-sort from me
                                    add .fa-sort-down to me                                    
                                 else
                                    set @data-direction to 'asc'
                                    remove .fa-sort-down .fa-sort from me
                                    add .fa-sort-up to me
                                 end
                            "
                        >
                        </i>
                    </span>
                </th>
                <th style="width: 15%" class="has-text-right">
                    Customers Spent
                    <span class="icon sort-icon" data-sort="customers_total_spent">
                        <i
                                hx-get="/application/customers"
                                hx-trigger="click"
                                hx-vals='js:{
                                "sort": event.target.dataset.sort,
                                "direction": event.target.dataset.direction
                            }'
                                hx-include="#itemsPerPage"
                                hx-target="#table-content"
                                class="fas fa-sort"
                                data-sort="customer_total_spent"
                                data-direction="desc"
                                _="on click
                                 -- Reset all <i> elements' classes to fa-sort
                                 set icons to <i/> in closest <tr/>
                                 remove .fa-sort-down .fa-sort-up from icons
                                 add .fa-sort to icons
                                   
                                 -- set clicked icon's direction and class
                                 if @data-direction == 'asc'
                                    set @data-direction to 'desc'
                                    remove .fa-sort-up .fa-sort from me
                                    add .fa-sort-down to me                                    
                                 else
                                    set @data-direction to 'asc'
                                    remove .fa-sort-down .fa-sort from me
                                    add .fa-sort-up to me
                                 end
                            "
                        >
                        </i>
                    </span>
                </th>
                <th style="width: 10%">Actions</th>
            </tr>
            </thead>
            <!-- Populated by htmx -->
            <tbody
                id="table-content"
                hx-get="/application/customers"
                hx-trigger="load"
            >
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next</a>
        <ul class="pagination-list">
            <!-- Populated by JavaScript -->
        </ul>
    </nav>
</div>
