{% block header %}
{#    <!-- Header -->#}
{#    <div class="hero custom-box">#}
{#        <div class="hero-body">#}
{#            <p class="title">Let There Be Music!</p>#}
{#            <p class="subtitle">Just a little application to snoop around some music</p>#}
{#        </div>#}
{#    </div>#}

            <div class="columns">
                <div class="column is-6">
                    <div class="field">
                        <p class="control has-icons-left">
                            <input
                                class="input"
                                type="text"
                                placeholder="Search music..."
                                id="searchInput"
                            >
                            <span class="icon is-small is-left">
                                                <i class="fas fa-search"></i>
                                            </span>
                        </p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select id="filterField">
                                    <option value="all">All Fields</option>
                                    <option value="name">Name</option>
                                    <option value="artist">Artist</option>
                                    <option value="album">Album</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="field">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select id="itemsPerPage">
                                    <option value="5">5 per page</option>
                                    <option value="10" selected>10 per page</option>
                                    <option value="20">20 per page</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock header %}
